.pricing-btn {
  width: 100%; /* Make the button full width */
  padding: 15px 0; /* Adjust padding for better click area */
  font-size: 18px;
  text-align: center; /* Center the text */
  display: inline-block; /* Ensure it's treated as a block for full width */
}
.pricing-modal .modal-header-custom {
  background-color: #f8f9fa;
  border-bottom: none;
}

.modal-btn-cancel, .modal-btn-confirm {
  width: 45%;
  padding: 10px;
}

.modal-btn-confirm {
  background-color: #007bff;
  border-color: #007bff;
}

.terms-text {
  font-size: 12px;
  color: #6c757d;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.7);
  }
  50% {
    box-shadow: 0 0 0 10px rgba(0, 123, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
  }
}

.pricing-btn {
  width: 100%;
  padding: 10px;
  z-index: 1050 !important;
  font-size: 20px;
  animation: pulse 1.5s infinite;
  cursor: pointer;
}
