/* Increase header size and add styles for selected menu item */
.category-name {
  font-size: 1.3rem !important; /* Increase font size */
  font-weight: bold !important;
  color: #333 !important;
  margin-bottom: 0.5rem !important;
}

.side-menu__item {
  font-size: 1.1rem !important; /* Increase font size */
  padding: 0.85rem 1.1rem !important; /* Adjust padding */
  color: #555 !important;
  display: flex !important;
  align-items: center !important;
  transition: background-color 0.3s, color 0.3s !important;

  &.active {
      color: #007bff !important; /* Change text color for active item */

  }
  &:hover {
    color: #007bff !important; /* Change text color for active item */
  }
}

.side-menu__icon {
  margin-right: .8rem !important;
  font-size: 1.6rem !important; /* Increase icon size */
  display: flex !important;
  align-items: center !important;
  &.active {
    color: #007bff !important; /* Change text color for active item */
  }

&:hover {
  color: #007bff !important; /* Change text color for active item */
}
}

.side-menu__label {
  flex-grow: 1 !important;
  font-size: 1.1rem !important; /* Increase label font size */
  display: flex !important;
  align-items: center !important;
}

.main-menu-container {
  .main-menu {
      .slide__category {
          padding: 1.1rem 1.1rem 0.6rem !important; /* Adjust padding */
      }

      .slide {
          &.has-sub > .side-menu__item {
              font-weight: 600 !important;
          }
      }
  }
}

.main-menu .side-menu__item {
  font-size: 19px !important; /* Increase the font size */
  padding: 16px 21px !important; /* Increase padding */
  color: #131575 !important; /* Set color to black or your preferred color */
}

.main-menu .side-menu__item.active {
  font-size: 24px !important; /* Increase font size */
  color:  #007bff !important; /* Add a left border to the active item */
}