/* Increase header size and add styles for selected menu item */
.category-name {
  font-size: 1.3rem !important; /* Increase font size */
  font-weight: bold !important;
  color: #333 !important;
  margin-bottom: 0.5rem !important;
}

.side-menu__item {
  font-size: 1.1rem !important; /* Increase font size */
  padding: 0.85rem 1.1rem !important; /* Adjust padding */
  color: #555 !important;
  display: flex !important;
  align-items: center !important;
  transition: background-color 0.3s, color 0.3s !important;

  &.active {
      color: #007bff !important; /* Change text color for active item */

  }
  &:hover {
    color: #007bff !important; /* Change text color for active item */
  }
}

.side-menu__icon {
  margin-right: .4rem !important;
  font-size: 1.4rem !important; /* Increase icon size */
  display: flex !important;
  align-items: center !important;
  &.active {
    color: #007bff !important; /* Change text color for active item */
  }

&:hover {
  color: #007bff !important; /* Change text color for active item */
}
}

.side-menu__label {
  flex-grow: 1 !important;
  font-size: 1.1rem !important; /* Increase label font size */
  display: flex !important;
  align-items: center !important;
  &.active {
    color: #007bff !important; /* Change text color for active item */
  }
  &:hover {
    color: #007bff !important; /* Change text color for active item */
  }
}

.main-menu-container {
  .main-menu {
      .slide__category {
          padding: 1.1rem 1.1rem 0.6rem !important; /* Adjust padding */
      }

      .slide {
          &.has-sub > .side-menu__item {
              font-weight: 600 !important;
          }
      }
  }
}

.main-menu .side-menu__item {
  font-size: 19px !important; /* Increase the font size */
  padding: 16px 21px !important; /* Increase padding */
  color: #475476 !important; /* Set color to black or your preferred color */
}

.main-menu .side-menu__item.active {
  font-size: 24px !important; /* Increase font size */
  color:  #007bff !important; /* Add a left border to the active item */
}

@media (max-width: 992px) {
  .sidebar {
    display: none;
  }

  .sidebar.active {
    display: block;
    position: absolute;
    z-index: 9999;
    width: 250px;
    height: 100vh;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .sidebar .sidebar-content {
    padding: 15px;
  }
}