:root {
  --primary-color: #223D6E;
  --hover-color: #01378f;
  --accent-color: #0056b3;
  --background-color: #fffcfc;
  --text-color: #333;
}

.choice-list-container {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  align-items: flex-start;
  margin-top: 0px;
  width: 100vw;
  overflow-x: hidden;

  &.modal-open {
    opacity: 0.5;
  }
}

.choice-list-results {
  flex-grow: 1;
  margin-left: 280px;
  transition: margin-left 0.3s ease;
  overflow: auto;
  width: 100%;
  
  &.full-width {
    margin-left: 0;
  }

  &.modal-open {
    opacity: 0.5;
  }

  .choice-list-table-wrapper {
    height: calc(100vh - 170px);
    overflow: auto;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
    background-color: #fff !important;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 95% !important;
  }

  .choice-list-table {
    width: 100%; /* Expand to full width on larger screens */
    border-collapse: collapse;
    table-layout: auto;
    
    thead {
      background-color: #e1e8f5 !important;
      position: sticky !important;
      top: 0 !important;
      z-index: 10 !important;

      th {
        padding: 20px !important;
        text-align: left !important;
        color: var(--text-color) !important;
        font-weight: 600;
        border-bottom: 1px solid #ddd;
        font-size: .8rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    tbody {
      tr {
        &:nth-child(even) {
          background-color: #ffffff !important;
        }

        &:hover {
          background-color: #0182be11 !important;
          cursor: pointer;
        }
      }

      td {
        padding: 5px !important;
        border-bottom: 1px solid #b3b4b6 !important;
        font-size: 0.7rem;
        font-weight: 500;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

/* Choice List Header */
.choice-header-box {
  display: flex;
  justify-content: space-between; /* Aligns the header title to the left and button to the right */
  align-items: center;
  width: 100%;
  padding: 10px;
}

.choicelist-header {
  font-size: 1.8rem;
  color: var(--primary-color); /* Adjust color as needed */
}

.print-pdf-btn:hover {
  background-color:var(--hover-color);
}

/* Show Filters Button */
.show-filters-btn {
  position: fixed;
  left: 0px;
  top: 75%;
  z-index: 100;
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  font-size: 1rem;
  color: white;
  padding: 6px 120px;
  border: none;
  border-radius: 0px 0px 300px 300px;
  cursor: pointer;
  transform: rotate(-90deg);
  transform-origin: left top;

  &:hover {
    background-color: var(--hover-color);
  }

  &.hidden {
    display: none;
  }

  i {
    margin-right: 8px;
  }
}

.column-toggle-btn {
  position: sticky;
  top: 10px;
  left: 95vw;
  margin: 10px;
  z-index: 10 !important;
  background-color: var(--primary-color) !important;
  color: white !important;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  width: 120px;
  font-size: 10px;
  border-radius: 30px;
  font-weight: 400;
  float: right;
  cursor: pointer;

  &:hover {
    background-color: #0056b3;
  }
}

.print-pdf-btn {
  background-color: #0a417c;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.5rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;


  position: sticky;
  top: 5px;
  // left: 1vw;
  margin-right: 10px;
  margin-bottom: 10px;
  float: right;
  cursor: pointer;

  &:hover {
    background-color: #0056b3;
  }
}

.results-section {
  flex-grow: 1;
  margin-left: 280px;
  transition: margin-left 0.3s ease;
  text-decoration: none !important;

  &.full-width {
    margin-left: 0;
  }

  .table-container {
    height: calc(100vh - 170px);
    // width: 95%;
    overflow: hidden;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;

    .table-wrapper {
      overflow-y: auto;
      overflow-x: auto;
      height: 100%;
      width: 100%;
    }

    .tableCustom {
      width: 100%;
      border-collapse: collapse;
      table-layout: auto; /* Change to auto */

      thead {
        background-color: #e1e8f5 !important;
        position: sticky !important;
        top: 0 !important;
        z-index: 10 !important;

        th {
          padding: 10px !important;
          text-align: left !important;
          color: rgb(0, 0, 0) !important;
          font-weight: 600;
          border-bottom: 1px solid #ddd;
          font-size: 0.8rem; /* Reduced font size */
          white-space: nowrap; /* Prevent text wrapping */
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      tbody {
        tr {
          &:nth-child(even) {
            background-color: #ffffff !important;
          }

          &:hover {
            background-color: #0182be11!important;
            cursor: pointer;
          }
        }

        td {
          padding: 10px !important;
          border-bottom: 1px solid #b3b4b6 !important;
          border-top: none !important;
          font-size: 0.7rem; /* Reduced font size */
          font-weight: 500;
          white-space: nowrap; /* Prevent text wrapping */
          overflow: hidden;
          min-height: 100px !important;
          text-overflow: ellipsis;
        }
      }
    }

    .allotments-header {
      font-size: 28px;
      margin-left: 10px;
      color: #585757;
    }
  }
}


/* ChoiceList.scss or Allotments.scss */

/* Common Button Styles */
.tableCustom button {
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Up/Down Button Styles */
.tableCustom button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.tableCustom .btn-move-up {
  background-color: #28a745;
  color: white;
  margin-right: 4px;

  &:hover {
    background-color: #218838;
    transform: translateY(-2px);
  }

  &:disabled {
    background-color: #ccc;
  }
}

.tableCustom .btn-move-down {
  background-color: #007bff;
  color: white;
  margin-right: 4px;

  &:hover {
    background-color: #0056b3;
    transform: translateY(2px);
  }

  &:disabled {
    background-color: #ccc;
  }
}

/* Move to Position Button Styles */
.tableCustom .btn-move-to-position {
  background-color: #17345c;
  margin: 8px !important;
  border: white;
  color: rgb(255, 255, 255) !important;

  &:hover {
    background-color: #0084ff;
    transform: scale(1.04);
  }
}

/* Remove Button Styles */
.tableCustom .btn-remove {
  background-color: #dc3545;
  color: white !important;

  &:hover {
    background-color: #c82333;
    transform: scale(1.05) !important;
  }
}

/* Responsive and transition effects for better interaction */
.tableCustom button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
}

@media only screen and (max-width: 768px) {
  .print-pdf-btn {
    font-size: 14px !important; /* Ensure a smaller but visible font size */
    padding: 6px;
  }

  .print-pdf-btn svg {
    font-size: 18px; /* Adjust icon size for smaller screens */
  }
}